html {
	overflow: hidden;
}

body {
	background-color: #485fc7;
}

.scale135 {
	transform: scale(1.25);
}

.is-viewport {
	width: 100vw;
	height: 100vh;
}

.select,
select {
	width: 100%;
}

.card{
	margin: 5px;
	width: 400px;
}

.card-content{
	background-color: #faf7f5;
}