body {
	background-color: #485fc7;
}

.is-viewport {
	width: 100vw;
	height: 100vh;
}

.select,
select {
	width: 100%;
}

.card {
	margin: 5px;
	width: 400px;
}

.card-content {
	background-color: #faf7f5;
}

#back-to-home {
	position: fixed;
	padding: 5px;
	border-radius: 7px;
	top: 20px;
	left: 20px;
	z-index: 9999;
	background-color: black;
	cursor: pointer;
	color: white;
	font-size: 20px;
}