<web-app>
    <display-name>Mediaweb</display-name>

    <!--LoginServlet-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>services.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!--LogoutServlet-->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>services.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <!--EmprunterServlet-->
    <servlet>
        <servlet-name>EmprunterServlet</servlet-name>
        <servlet-class>services.EmprunterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmprunterServlet</servlet-name>
        <url-pattern>/emprunter</url-pattern>
    </servlet-mapping>

    <!--RendreServlet-->
    <servlet>
        <servlet-name>RendreServlet</servlet-name>
        <servlet-class>services.RendreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RendreServlet</servlet-name>
        <url-pattern>/rendre</url-pattern>
    </servlet-mapping>

    <!--AjouterServlet-->
    <servlet>
        <servlet-name>AjouterServlet</servlet-name>
        <servlet-class>services.AjouterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjouterServlet</servlet-name>
        <url-pattern>/ajouter</url-pattern>
    </servlet-mapping>
</web-app>